/* Variaveis */ 
:root{
    --cor-principal: #cc008b;
    --cor-hover: #00bfff;
    --cor-voltar: #ff6600;
    --cor-fundo: #f1f1f1;
    --cor-texto: #333;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TOPO */
header {
    background-color: var(--cor-principal);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    color: var(--cor-fundo);
}

/* GERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* CONTEUDO */
main {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

/* MENU */
nav a {
    color: var(--cor-fundo);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: var(--cor-hover) !important; 
}

/* VOLTAR */
.voltar {
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: bold;
    transition: 0.3s;
}
.voltar:hover {
    color: var(--cor-voltar);
}

/* RODAPE */
footer {
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    text-align: center;
    padding: 20px;
}

/* MENU */ 
.container-menu {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card h2 {
    color: var(--cor-principal);
    margin-bottom: 20px;
}

.faq {
    margin-bottom: 25px;
}

.faq h3 {
    margin-bottom: 10px;
    color: var(--cor-texto);
}

/* CARDS */
.card {
    background-color: var(--cor-fundo);
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px var(--cor-texto);
}

.faq p {
    color: var(--cor-texto);
}